:root {
    --cor-principal: #304b47;
    --fonte: font-family: "Inter", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--fonte);
}

main .container_block .botoes button {
    height: 3.9vh;
    border: 2px solid white;
    border-radius: 9px;
    background: none;
    transition: 0.3s;
}

main .container_block .botoes button a {
    color: white;
    font-weight: 500;
}

main .container_block .botoes button:hover, 
main .container_block .botoes button:focus {
    background: white;
    color: var(--cor-principal);
    border: none;
}

main .container_block .botoes button a:hover,
main .container_block .botoes button a:focus {
    color: var(--cor-principal);
    text-decoration: none;
}

@media (max-width: 999px) {
    nav a {
        width: 40%;
    }

    nav ul a {
        height: 25px;
        color: black;
        font-weight: 600;
        transition: 0.3s;
        font-size: 1.3rem;
    }

    nav ul a:focus, nav ul a:active {
        text-underline-offset: 0.25em;
        color: black;
    }

    main .container_block {
        position: absolute;
        top: 38%;
        transform: translateY(-50%);
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
        height: 30%;
        border-radius: 20px;
    }

    main .container_block .botoes {
        position: relative;
        bottom: 10%;
        gap: 8px;
    }
}
