@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --cor-principal: #304b47;
}

* {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    padding: 0;
    margin: 0;
}

.maozinha {
    width: 4%;
}

.modal{
    width: 30%;
}

.modal-header h1 img {
    width: 48%;
}

.modal-content{
    width: 75%;
    height: 100vh;
}

.modal-body ol {
    gap: 20px;
}

.modal-body ol a {
    color:black;
    font-size: 1.1rem;
    font-weight: 600;
}

.modal-footer a {
    margin-right: 23%;
}

.modal-footer a img{
    width: 30%;
    border: 1px solid black;
    padding: 40px;
    border-radius: 100%;
}

.modal-footer a h3 {
    margin-left: 6%;
    font-size: 1.5rem;
}

.texto {
    margin: 4% 0 0 9%;
}

.texto h1 {
    font-weight: 700 ;
    font-size: 2.5rem;
   
}

.texto h2 {
    font-weight:600;
    font-size: 2rem;
}

.container-fluid button img {
    width: 13%;
}

.container-fluid form {
    display: flex;
}

main {
    position: absolute;
    background: #304B47;
    margin: 1% auto;
    border-radius: 30px;
    overflow-x: auto;
    max-width: 88vw;
    padding: 2%;
    bottom: 2%;
    transform: translatex(-50%);
    left: 50%;
}

main::-webkit-scrollbar {
    width: 1px;
}

main::-webkit-scrollbar-thumb {
    background: transparent;
}

.carrossel {
    white-space: nowrap;
    overflow: hidden;
    font-size: 0px;
    display: flex;
    flex-direction: row;
    gap: 35px;
}

.card {
    display: flex;
    align-items: center;
    background: transparent;
    border-radius: 20px;
    border: 3px solid white;
    /*width: calc(100% / 3);*/
    height: 300px;
    /*margin-left: 14px;*/
}

.card:first-child {
    margin-left: 9%;
}

.card img {
    object-fit: cover;
    padding: 30px 50px 0 50px;
}

.card h2 {
    text-align: center;
    color: white;
    font-size: 25px;
    margin-top: 10px;
}

.card button {
    color: var(--cor-principal);
    width: 60%;
    height: 10%;
    background: white;
    border: 0px;
    border-radius: 15px;
    text-align: center;
    text-decoration: none;
}

.modal-footer button {
    margin: auto;
}

@media (max-width: 999px) {
    .container-fluid button img {
        width: 40%;
    }
    
    .container-fluid form {
        display: none;
    }
    
    main {
        flex-direction: column;
        align-items: center;
    }

    .wrapper {
        padding-top: 12px;
    }

    .card:first-child {
        margin: auto;
    }

    .card {
        width: 100%;
        height: 200px;
        margin-left: 0;
    }

    .card img {
        width: 130px;
    }

    .card h2 {
        font-size: 20px;
    }

    .card button {
        display: hidden;
    }

    

    .texto h1 {
        font-size: 2rem;
    }

    .texto h2 {
        font-size: 1.5rem;
    }

    .maozinha {
        width: 10%;
    }

    .modal{
        width: 50%;
    } 

    .modal-content{
        width: 100%;
        height: 100vh;
    }       

    .modal-header h1 img {
        width: 80%;
    }
    
    .modal-footer {
        padding: 0;
        width: 100%;
    }

    .modal-footer a {
        margin: 0;
    }

    .modal-footer a img {
        margin: 10px 0 0 10px;
    }

    .modal-footer a h3 {
        margin: 0;
        width: 80;
        height: 80px;
        font-size: 1rem;
        text-align:center;
        padding-top: 19px;
    }

    .carrossel {
        gap: 20px;
    }

    .card h2 {
        font-size: 20px;
    }

    .card button {
        width: 80%;
    }

    .card img {
        padding: 30px 0 0 0;
    }

    .card h2 {
        font-size: 20px;
    }

    .card button {
        width: 80%;
    }

    .card img {
        padding: 30px 0 0 0;
    }

    .card h2 {
        font-size: 20px;
    }

    .card button {
        width: 80%;
    }

    .card img {
        padding: 30px 0 0 0;
    }

    .card h2 {
        font-size: 20px;
    }

    .card button {
        width: 80%;
    }

    .card img {
        padding: 30px 0 0 0;
    }

    .card h2 {
        font-size: 20px;
    }

    .card button {
        width: 80%;
    }

    .card img {
        padding: 30px 0 0 0;
    }

    .card h2 {
        font-size: 20px;
    }

    .card button {
        width: 80%;
    }

    .card img {
        padding: 30px 0 0 0;
    }

    .card h2 {
        font-size: 20px;
    }

    .card button {
        width: 80%;
    }

    .card img {
        padding: 30px 0 0 0;
    }

    .card h2 {
        font-size: 20px;
    }

    .card button {
        width: 80%;
    }

    .card img {
        padding: 30px 0 0 0;
    }

    .card h2 {
        font-size: 20px;
    }

    .card button {
        width: 80%;
    }

    














}