@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --cor-principal: #304b47;
}

body {
    box-sizing: border-box;
    font-family: "Inter", sans-serif ;
}

.logo {
    background: var(--cor-principal);
}

.logo ul {
    list-style: none;
}

.logo ul li a {
    color: white;
    font-weight: 600;
    font-size: 1.3em;
}

.img__container {
    display: flex;
    justify-content: center;
    margin-top: 25%; 
}

form a {
    color: var(--cor-principal);
}

.btn {
    border: 1px solid var(--cor-principal);
}

.btn:hover {
    background: var(--cor-principal);
    color: white;
}

/*Mobile*/

@media (max-width: 999px) {
    body {
        flex-direction: column;
        align-items: center;
    }

    .logo { 
        position: relative;
        height: 28vh;
        width: 100%;
    }

    .logo ul li a {
        display: none;
    }

    .img__container{
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        
        left: 30%;
        z-index: 1;
        margin: 0;
        width: 40%;
    }

    img {
        position: relative;
        width: 100%;
    }

    main {
        width: 100%;
        height: 100%;
    }

    form {
        margin: 8% 0;
        position: relative;
    }

    form #cadastrar_link {
        margin: auto;
    }

    button {
        margin: 15px auto;
    }

    footer {
        bottom: 0;
        background: var(--cor-principal);
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/*Desktop*/

@media (min-width: 999px) {
    .logo {
        width: 50%;
    }

    .logo ul {
        justify-content: center;
        gap: 10%;
        margin-top: 12%;
        padding: 0;
    }

    .img__container {
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        left: 5%;
        width: 40%;
        margin: 0;    
    }

    .img__container a:hover {
        cursor: default;
    }

    img {
        position: relative;
        width: 100%;
    }

    main {
        width: 50%;
    }

    form #cadastrar_link {
        display: none;
    }

    button {
        margin: auto;
    }

    footer {
        display: none;
    }
}