@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* GERAL */
html {
    font-family: "Inter";
    /*
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:"slnt" 0;  
    */
}

.row {
    margin: 0;
    padding: 0;
    height: 100vh;
}

/* CELULAR*/
@media (max-width: 999px) {
 
}
@media (min-width: 999px) {
    .conj_text {
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin-top: 5vh;
        font-size: 2vi;
        font-weight: 600;
    }

    .conj_text a:hover {
        color: white;
    }

    .col-lg-6 {
        width: 100%;
        height: 100%;
    }

    .div_image {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translateY(-50%);
        transform: translateX(-50%);
        width: 50%;
    }

    .div_image img {
        width: 100%;
    }
    
    .text_titulo {
        font-size: 5vi;
        color: white;
    }

    .text{
        color: white;
    }

    /* Cadastro*/
    .cadastro {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

    .titulo_cad{
        display: flex;
        justify-content: center;
        width: 50vW;
        color: black;
        font-size: 2.5rem;
        font-weight: 600;
        margin-bottom: 4%;
    }

    .form_cadastro {
        padding: 0 4vw 0 4vw;
        display: grid;
        width: 50vw;
        height: 65vh;
        margin-top: 10vh;
        margin-left: 25vw;
        background-color: #304b47;
        border-radius: 25px;
        color: white;
        font-size: 1.5rem;
        font-weight: 600;
        padding: 40px;
    }
    .valor{
        border-radius: 10px;
    }
    .valor1 {
        border-radius: 10px;
        height: 12vh;
        width: 100%; 
        padding: 10px; /* Adiciona espaço ao redor do texto */
        text-align: left; /* Alinha o texto à esquerda */
        box-sizing: border-box; /* Inclui o padding na altura total */
        overflow: auto; /* Permite a rolagem do conteúdo */
        line-height: normal; /* Define a altura da linha para normal */
        resize: none; /* Desativa o redimensionamento manual do textarea */
    }
    .form_cadastro input {
        font-weight: 500;
    }

    .label_container {
        display: flex;
        
    }

    .label_container .segundo {
        margin-left: 25%;
    }

    .label_container .selecao {
        width: 35%;
    }

    #label {
        font-size: 1.3rem;
        font-weight: 600;
        margin: 0;
    }

    .seletor_text, .bt_cadastrar {
        width: 80vw;
    }

    #site{  /* principal div */
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        max-width: none;
    }

    #row{ /* row do site */
        display: flex;
        padding: 0;
    }

    .header {
        background-color: #304b47;
        width: 90vw;
        display: flex;
        flex-direction: column;
    }
    
    #botao {
        background-color: white;
        color: #304b47;
        border: 2px solid #304b47;
        width: 60%;
        height: 60%;
        border-radius: 25px;
        margin: 4% auto;
        font-size: 1.5vi;
        font-weight: 600;
        transition: 0.3s;
    }

    #botao:hover {
        transform: scale(1.1);
        background-color: #1c2c2a;
        color: white;
    }

    
}
