        @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
        @media (min-width: 999px) {
        :root {
            --cor-principal: #304b47;
        }

        * {
            font-family: "Inter", sans-serif;
        }
        header{
            margin-top: 2%;
            display: flex;
            height: 10vh;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: flex-start;
            align-content: center;
            width: 100%;
        }
        
        .img_logo{
            width: 13vw;
            height:6vw;
            margin-left: 1vw;
            align-items: flex-end;
        }
        .container{
            display: flex;
            flex-direction: column;
            margin-top: 2%;
            padding-left: 5vw;
            margin-top: 10vw;
        }
        .acompanhamento{
            padding: 5vw 5vw 0px 0px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-content: center;
            flex-wrap: nowrap;
            align-items: center;
            margin-right: 6vw;
        }
        .green-ball{
            width: 3vw;
            height: 3vw;
            border-radius: 100%;
            background-color: #304b47;
            margin-left: 1vw;
        }
        .green-line{
            width: 0.5vw;
            height: 15vw;
            background-color: #304b47;
            margin-left: 1vw;
        }
        .card{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            margin-top: 2%;
            width: 30vw;
            border-color: #304b47;
            border: solid;
            border-radius: 2vw;
            border-width: 2px;
        }
        .card_perfil{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
        }
        .img{
            margin-top: 1vw;
            width: 7vw;
            height:7vw;
            margin-left: 1vw;
            border-color: #304b47;
            border-width: 1px;
            border: solid;
            border-radius: 100%;
        }
        .data{
            margin-top: 5.5vw;
            font-size: 1.5vw;
            padding-left: -5vw;
        }
        .titulo{
            font-size: 2vw;
            margin-left: 1vw;
            width: 70vw;
            display: flex;
            justify-content: center;
        }
        .item{
            display: flex;
            flex-direction: row;
            align-content: center;
            align-items: flex-start;
            margin-left: 0; /* Adicione esta linha */
            margin-top: -5vw;
        }
        .bot{
            width: 6vw;
            height: 2vw;
            background-color: #304B47;
            color: white;
            border: none;
            border-radius: 30px;
            font-size: 1vw;
            margin: 1vw;

        }
    }
    @media (max-width: 999px) {
        :root {
            --cor-principal: #304b47;
        }

        * {
            font-family: "Inter", sans-serif;
        }
        .bot{
            width: 10vw;
            height: 3vw;
            background-color: #304B47;
            color: white;
            border: none;
            border-radius: 30px;
            font-size: 1.5vw;
        }
        header{
            margin-top: 2%;
            display: flex;
            height: 10vh;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: flex-start;
            align-content: center;
            width: 100%;
        }
        .img_logo{
            width: 20vw;
            height: 10vw;
        }
        .container{
            display: flex;
            flex-direction: column;
            margin-top: 2%;
            padding-left: 5vw;
            margin-top: 15vw;
        }
        .texto_titulo{
            font-size: 10vw;
        }
        .acompanhamento{
            padding: 10vw 5vw 5vw 0vw;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-content: center;
            flex-wrap: nowrap;
            align-items: center;
        }
        .green-ball{
            width: 6vw;
            height: 6vw;
            border-radius: 100%;
            background-color: #304b47;
            margin-left: 1vw;
        }
        .green-line{
            width: 0.5vw;
            height: 45vw;
            background-color: #304b47;
            margin-left: 1vw;
        }
        .card{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;
            margin-top: 2%;
            width: 80vw;
            height: 30vw;
            border-color: #304b47;
            border: solid;
            border-radius: 2vw;
            border-width: 2px;
            padding: 1vw;
            font-size: 3vw;
        }
        .card_perfil{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
        }
        .img{
            margin-top: 1vw;
            width: 7vw;
            height:7vw;
            margin-left: 1vw;
            border-color: #304b47;
            border-width: 1px;
            border: solid;
            border-radius: 100%;
        }
        .data{
            margin-top: 5.5vw;
            width: 20vw;
        }
        .titulo{
            width: 70vw;
            display: flex;
            justify-content: center;
        }
        .item{
            display: flex;
            flex-direction: row;
            align-content: center;
            align-items: flex-start;
            margin-top: -15vw;

        }
        .NOME{
            font-size: 4vw;
        }
    }