/*     MOBILE     */

    /*MAIN - TEXTO*/

    .textos h2 {
        font-size: 2rem;
        margin: 0;
    }

    .textos h2 .maozinha {
        width: 14%;
        margin: 5px 6px 5px 6px;
        animation: waveImage 2s infinite;
        transform-origin: bottom right;
        transition: transform 0.5s ease-in-out;
    }

    /*CARROSSEL*/
    .owl-carousel .owl-dots {
        text-align: center;
        margin-top: 20px; 
    }

    .owl-carousel .owl-dots .owl-dot {
        width: 10px;
        height: 10px;
        margin: 5px;
        border-radius: 50%;
        background: rgba(0, 0, 0, 0.3);
        position: relative; 
    }
    
    .owl-carousel .owl-dots .owl-dot.active {
        background: var(--cor-principal); 
    }

    .item {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 60%;
    }

    .fontCarrossel{
        font-size: medium
    }

    .tamm {
        width: 100%;
        max-width: 150px;
    }

    .container-custom {
        margin-top: 20px;
    }

/*CARDS*/
.item .blog-entry a {
    color: var(--cor-principal);
    font-weight: 600;
    text-decoration: none;
    display: flex;
    align-items: center;
    cursor: default;
}

.card h3 {
    color: rgba(0, 0, 0, 0.76);
}

.card button {
    transition: all 0.3s ease;
    border: 1px solid var(--cor-principal);
    background: none;
    width: 100px;
    text-decoration: none;
    padding: 1%;
    margin-bottom: 9%;
}

.card button:hover {
    background: var(--cor-principal);
    color: white;
    transform: scale(1.05);
}
    
/*MOBILE*/
@media (max-width: 576px) {
    .container-custom {
        padding: 10px;
    }
    .tamm {
        max-width: 100px;
    }
    .item h5 {
        font-size: 1rem;
    }
    .item p {
        font-size: 0.875rem;
    }

    .card button {
        background: var(--cor-principal);
        color: white;
    }
}

@media (max-width: 650px) {
    .dim{
        font-size: 12px;
    }
    .dim2{
        width: 100px;
        height: 30px;
        font-size: 12px;
    }
    .dim3{
        font-size: 12px;
        margin-bottom:5px;
    }
}

@media (max-width: 768px) {
    .row2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
    .col-lg-6 {
        max-width: none;
    }
    .tamm {
        max-width: 100px; 
    }
    .item h5 {
        font-size: 1rem;
    }
    .item p {
        font-size: 0.875rem;
    }
    .tam{
        width: 30%;
    }
    .tam2{
        padding-left: 80px;
        padding-right: 80px;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .card button {
        background: var(--cor-principal);
        color: white;
    }
}

/*   DESKTOP   */
@media (min-width: 992px) {
    .item {
        flex-direction: row;
    }
    .item img {
        margin-bottom: 0;
        margin-right: 15px;
    }
    .item h5, .item p {
        text-align: left;
    }
}

@media (min-width: 999px) {
    /*MAIN - TEXTO*/
    .textos {
        width: 50%;
        margin: 1% auto;
    }

    .textos h2 .maozinha {
        width: 10%;
        margin: 5px 6px 10px 7px;
    }
}

/*ANIMAÇÃO DA MÃOZINHA*/
@keyframes topDown {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes waveImage {
    0% {
        transform: rotate(12deg);
    }
    25% {
        transform: rotate(10deg) translate(-5%, 5%);
    }
    50% {
        transform: rotate(12deg);
    }
    75% {
        transform: rotate(-10deg) translate(-5%, 5%);
    }
    100% {
        transform: rotate(12deg);
    }
}