@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* GERAL */
body {
    font-family: 'Inter', sans-serif;
}



.nome {
    left: 55px;
    top: -600px;
    font-weight: 700; /* Define o peso da fonte como negrito */
    font-size: 34px;  /* Tamanho da fonte */
    color: #333;      /* Cor da fonte */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); /* Sombra no texto para dar mais destaque */
}

.foto{
    left: 55px; /* Alterado para 'px' */
    top: -720px; /* Alterado para 'px' */
}


.email{
    left: 40px; /* Alterado para 'px' */
    top: -655px; /* Alterado para 'px' */
    font-size: 20px;
}

.telefone{
    left: 76px; /* Alterado para 'px' */
    top: -590px; /* Alterado para 'px' */
}





